#main {
  min-height: 480px;
}
.ajaxForm {
  position: relative;
}
.ajaxForm .ajaxLoader {
  width: 70px;
  height: 20px;
  background: #000000 url("../img/ajax-loader.gif") 20px 16px no-repeat;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  padding-top: 56px;
}
.dynaForm legend {
  border: none;
  margin: 0;
  color: #8C0505;/*#005181;*/
  font-weight: bold;
}
.dynaForm label {
  color: #666;
}
.dynaForm .help-block {
  color: #999;
}
.dynaForm .form-actions {
  background: none;
  border: none;
}
